.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}
/* padding top and bottom  */
/* tablet size */
@media (width >=50.625em) {
  .header {
    padding-block: 24px;
  }
}
